/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}*/

.banner {
  display: inline-flex;
  position: relative;
  min-height: 350px;
}

.titulo{
  position: absolute;
  top:45%;
  left: 80%;
  color:#ffffff;
}

.contenedorFormulario {
  justify-content: center;
  width:500px;
  margin: 0 auto;
  
}

.container {
  display: grid;
  grid-template-columns: 35% auto;
  grid-template-rows: 500px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "uno dos";
    height: 100%;
    width: 95%;
}

.uno {
  grid-area: uno;
  background: #ffffff;
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  min-height: 600px;
}

.dos {
  grid-area: dos;
  background: #ffffff;
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 30px;
  min-height: 600px;
}

.datosPrincipales{
  font-size: medium;
  /*color:rgb(255, 255, 255);*/
  font-weight: bolder;
  align-items: center;
}

.listaP{
  font-size:medium;
  color:rgb(255, 255, 255);
  align-items: center;
}

.subTitulo {/*color: white;*/}

.transparente {
  background-color: transparent;
}

.centrado {
  align-items: left;
  align-content: left;
  text-align: center;
  padding: 3%;
}

.btn {
  font-size:medium !important;
  width: 70%;
}

.btn-login {
  width: 40% !important;
}

.btn-info {
  font-size:medium !important;
  width: 20%;
  background-color: #ba3b46 !important;
}

.rowS {
  width: 100%;
  padding: 0px;
  height: 550px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}

.rowS::-webkit-scrollbar {
  width: 12px;
}

.rowS::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(10, 10, 10, 0.3);
  border-radius: 10px;
  background-color: #4b4d49;
}

.rowS::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #e98b10;
}